



  /* AUTH forms */
  
    .login-form-container{
        position: absolute;
        width: 100%;
        bottom: 35%;
        text-align: center;
        color: white;
    }

    .signup-form-container{
        position: absolute;
        width: 100%;
        bottom: 30%;
        text-align: center;
        color: white;
    }

    .signup-form-container h1{
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .account{
        font-size: 0.9em;
        color: white;
        text-decoration: none;
    }

      .login-form {
        margin-top: 1.5em;
        align-content: center;
      }
      
      .inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .inputs button {
        margin-bottom: 50px;
        color: black;
        font-size: 1em;
        background-color: white;
        border: 1px black;
        padding: 0.4em 1em;
      }

        .inputs button:hover {
            cursor: pointer;
      }
      
      .inputs input {
        padding: 5px;
        margin: 10px 0;
        border: 2px solid white;
        width: 300px;
        font-family:inherit;
        background: transparent;
        color: white;

      }



      /* Search bar */
      .searchPageMain {
        border: 0;
        box-sizing: border-box;

        --dur: 1s;
        font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1280 - 320));
      }

      .searchbarInput, body {
        font: 1em/1.5 Hind, sans-serif;
      }

      .searchbarInput, .searchForm, .caret {
        margin: auto;
      }

      .searchForm {
        position: relative;
        width: 100%;
        max-width: 17em;
      }

      .searchbarInput, .caret {
        display: block;
        transition: all calc(var(--dur) * 0.5) linear;
      }

      .searchbarInput {
        background: transparent;
        border-radius: 50%;
        box-shadow: 0 0 0 0.25em inset;
        caret-color: var(#79527f);
        width: 2em;
        height: 2em;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      .searchbarInput:focus, .searchbarInput:valid {
        background: var(--input);
        border-radius: 0.25em;
        box-shadow: none;
        padding: 0.75em 1em;
        transition-duration: calc(var(--dur) * 0.25);
        transition-delay: calc(var(--dur) * 0.25);
        width: 100%;
        height: 3em;
      }

      .searchbarInput:focus {
        animation: showCaret var(--dur) steps(1);
        outline: transparent;
      }

      .searchbarInput:focus + .caret, .searchbarInput:valid + .caret {
        animation: handleToCaret var(--dur) linear;
        background: transparent;
        width: 1px;
        height: 1.5em;
        transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
      }

      .searchbarInput::-webkit-search-decoration {
        -webkit-appearance: none;
      }

      .searchbar-label {
        color: #79527f;
        overflow: hidden;
        position: absolute;
        width: 0;
        height: 0;
      }

      .caret {
        background: currentColor;
        border-radius: 0 0 0.125em 0.125em;
        margin-bottom: -0.6em;
        width: 0.25em;
        height: 1em;
        transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
        transform-origin: 50% 0;
      }
      
      /* Dark mode */
      @media (prefers-color-scheme: dark) {	
        :root {
          --bg: #17181c;
          --fg: #79527f;
          --input: #2e3138;
          --primary: #79527f;
        }
      }
      
      /* Animations */
      @keyframes showCaret {
        from {
          caret-color: transparent;
        }
        to {
          caret-color: var(--primary);
        }
      }
      @keyframes handleToCaret {
        from {
          background: currentColor;
          width: 0.25em;
          height: 1em;
          transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
        }
        25% {
          background: currentColor;
          width: 0.25em;
          height: 1em;
          transform: translate(0,-1em) rotate(-180deg) translate(0,0.875em);
        }
        50%, 62.5% {
          background: var(--primary);
          width: 1px;
          height: 1.5em;
          transform: translate(0,-1em) rotate(-180deg) translate(7.5em,2.5em);
        }
        75%, 99% {
          background: var(--primary);
          width: 1px;
          height: 1.5em;
          transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
        }
        87.5% {
          background: var(--primary);
          width: 1px;
          height: 1.5em;
          transform: translate(0,-1em) rotate(-180deg) translate(7.5em,0.125em);
        }
        to {
          background: transparent;
          width: 1px;
          height: 1.5em;
          transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
        }
      }


      /* Search form */

      .searchFormContainer{
        position: absolute;
        width: 100%;
        top: 18%;
        text-align: center;
        color: white;
        margin-top: 30px;
        margin-bottom: 0;
        padding-bottom: 20px;
      }

      .searchFormContainer a{
        text-decoration: none;
        color: black;
        border: 0.1em solid black;
        padding: 0.5em;
      }

      .advLoginForm {
        margin-top: 1.2em;
        align-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,50,.2)), url("https://64.media.tumblr.com/97756d4778fc560213565a7a2c932381/tumblr_pqz7elpczN1we9f2ro1_500.gifv");
        background-repeat: no-repeat;
        background-size: cover;
        width: 90vw;
        height: 74vh;
        margin-bottom: 0;
        padding-bottom: 40px;
        
      }

      @media only screen and (min-width: 600px) {
        .advLoginForm {
        margin-top: 1.2em;
        align-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,50,.2)), url("https://64.media.tumblr.com/97756d4778fc560213565a7a2c932381/tumblr_pqz7elpczN1we9f2ro1_500.gifv");
        background-repeat: no-repeat;
        background-size: cover;
        width: 50vw;
        height: 85vh;
        margin-bottom: 0;
        padding-bottom: 0;
        
      }
      }



      .inputsSearch {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0.1em;
      }
      
      .inputsSearch-button {
        margin-top: 20px;
        margin-bottom: 30px;
      }

      .inputsSearch-button button {
        color: white;
        font-size: 1em;
        background-color: transparent;
        border: 1px white solid;
        padding: 0.4em 1em;
      }

      .inputsSearch-button button:hover {
        cursor: pointer;
      }
      

      .inputsSearch input {
        padding: 0.3em;
        margin: 0.3em 0;
        border: 1px solid white;
        width: 20em;
        font-family:inherit;
        background: transparent;
        color: white;
      }
      
    
      .ebook-create-container{
        position: absolute;
        width: 100%;
        top: 18%;
        text-align: center;
        color: white;
        margin-bottom: 0;
        padding-bottom: 0;
      } */
    
       .new-ebook-form {

         background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,50,.5)), url('https://64.media.tumblr.com/c6f70187569e2c2d97c5fe85399a65cb/tumblr_pyhdzyXOIp1we9f2ro1_540.gifv' );
          background-repeat: no repeat;

      }
    
  


