
@import url('https://fonts.googleapis.com/css?family=Coiny');

.bookshelf-main-page{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
}
.bookshelf-name {
    padding: 30px;
    box-shadow: 0 10px 20px rgba(121, 82, 127,0.25), 0 10px 10px rgba(121, 82, 127,0.22);
    width: 90%;
    align-self: center;
    margin: 20px;

}

.cloud-text {
	font-family: 'Coiny', cursive;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: rgba(121, 82, 127,0.25);	
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/clouds.jpg);
	background-size: auto;
	background-attachment: unset;
	background-position: 0%;
	width: 80%;
    margin: auto;
	font-size: 30px;
	animation: clouds-moving infinite 220s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
}
@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}


.cloud-title {
    padding-top: 40px;
    color: #79527f;
	width: 80%;
    margin: auto;
	font-size: 20px;
	text-align: center;
    border-bottom: 1px solid #dedede;
}


.list-books-shelf{
    text-align: center;
}




.list-books-title {
    padding: 10px 0;
    text-align: center;
  }
  .list-books-title h1 {
    font-weight: 400;
    margin: 0;
    color: white;
  }
  
  .list-books-content {
    padding: 0 0 80px;
    flex: 1;
  }
  
  .bookshelf {
    padding: 0 10px 20px;
  }
  
  @media (min-width: 600px) {
    .bookshelf {
      padding: 0 20px 40px;
    }
  }
  
  .bookshelf-title {
    border-bottom: 1px solid #dedede;
  }
  .bookshelf-books {
    text-align: center;
  }
  

  
  /* books grid */
  
  .books-grid {
    list-style-type: none;
    padding-top: 20px;
    margin: 0;
  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .books-grid li {
    padding: 10px 15px;
    text-align: left;
  }
  
  .book {
    width: 140px;
  }

  .book-title {
    font-size: 0.8em;
    color: black;
    width: 8em;
    margin-top: 10px;
  }

  .book-top {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
  }
  
  .book-shelf-changer {
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #79527f;
    background-image: url('../../images/arrow-drop-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .book-shelf-changer-select {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    color: #79527f;
    background-color: white;
    font: inherit;
    font-size: 0.8em;
  }
  
  /* book cover */
  
  .book-cover {
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #eee;
    width: 128px;
    height: 193px; 
  }
  .book-cover-title {
    padding: 20px 10px 0;
    text-align: center;
    font-size: 0.8em;
  }
  
  
  .Toastify__toast--warning {
    color: black
  }
  
  /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
  .flip-card {
    background-color: transparent;
    width: 128px;
    height: 193px; 
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-image: url("../../images/book-back.jpeg");
    background-repeat: "no-repeat";
    background-position: "center";
    background-size: "contain";
    position: relative;
    color: white;
    transform: rotateY(180deg);
  }



.link-to-create-card{
	box-shadow: 0 15px 30px 1px #F4F0F5;
	background: rgba(244, 240, 245, 0.10);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 2em auto;
	width: 85%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

/* 940px */

.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	float: left;
}

.link-to-create-card .product-details h1{
	font-family: 'Bebas Neue';
	display: inline-block;
	position: relative;
	font-size: 5vh;
	color: #344055;
	margin: 0;
}
.library-gif {
  height: 400px;
  background-image: url("https://64.media.tumblr.com/48ceb365d79461b2d16c58e7f753ce72/tumblr_pybbp3JmPx1we9f2ro1_r1_1280.gifv");
  background-repeat: no-repeat;
}

#container .product-details > p {
  font-family: 'Bebas Neue';
	text-align: center;
	font-size: 18px;
	color: #7d7d7d;
	
}
.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
	
}


.buttons-div-bs{
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

@media (max-width: 600px) {
  .buttons-div-bs{
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
  }
  

}

.create-ebook-button {
  margin: 20px;
  max-width: 200px;
}

.create-shelf-button {
  margin: 20px;
  max-width: 200px;
}


.create-ebook-button:link, .create-ebook-button:visited {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/clouds.jpg);
  background-color: white;
  color: black;
  border-radius: 3%;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  animation: clouds-moving infinite 220s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
}
@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}


.create-ebook-button:hover, .create-ebook-button:active {
  border: 0.5px solid black;
}

.create-shelf-button:link, .create-shelf-button:visited {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/clouds.jpg);
  background-color: white;
  color: black;
  border-radius: 3%;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  animation: clouds-moving infinite 220s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: linear;
	text-align: center;
}
@keyframes clouds-moving {
	0% {
		background-position: 0%;	
	}
	50% {
		background-position: 100%;	
	}
	100% {
		background-position: 0%;
	}
}

.create-shelf-button:hover, .create-shelf-button:active {
  border: 0.5px solid black;
}


.bn47:hover {
  padding: 0.75rem 2.25rem;
}

.bn47:hover:before {
  top: 0;
  left: 0;
}