.book {
    width: 140px;
  }
  .book-title,
  .book-authors {
    font-size: 0.8em;
  }
  .book-title {
    margin-top: 10px;
  }
  .book-authors {
    color: #999;
  }

  
  .SRPCoverBlank {
    position: relative;
    width: 148px;
    height: 225px;
    min-width: 175px;
    min-height: 250px;
    padding: 15px;
    text-align: center;
    background: #ddd;
    font-size: 1em;
    display: none;
  }
  .SRPCoverBlank .innerBorder {
    border: 2px solid #fff;
    width: 144px;
    height: 221px;
    margin: 0 auto;
  }
  
  .BookTitle {
    position: absolute;
      top: 50%;
      left: 50%;
      width: 108px;
      margin-left: -54px;
      height: 100px;
      margin-top: -50px;
      color: #333;
  }
  
  .Author {
    color: #666;
    font-style: italic;
    padding: 4px 4px 0;
    font-size: 11px;
  }
  
  .cover-animation {
    transform: perspective(0) rotateX(0);
    transition: transform .8s,opacity .8s;
  }



.book-shelf-changer {
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #79527f;
    background-image: url('../../images/arrow-drop-down.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  .book-shelf-changer select {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  /* book cover */
  
  .book-cover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: #eee;
    width: 128px;
    height: 193px; 
  }
  .book-cover-title {
    padding: 20px 10px 0;
    text-align: center;
    font-size: 0.8em;
  }
  

  .searchPage{
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .create-ebook-form label{
    margin-top: 1.2em;
  
  }


  /* dropdown menu style */

  .create-ebook-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: white;
    background-image: none;
    margin-bottom: 0.8em;

  }
  /* Remove IE arrow */
  .create-ebook-form select::-ms-expand {
    display: none;
  }
  /* Custom Select */
  .create-ebook-form select {
    position: relative;
    display: flex;
    width: 25em;
    height: 2.5em;
    line-height: 3;
    background: white;
    overflow: hidden;
    border-radius: 0em;
  }
  .create-ebook-form select {
    flex: 1;
    padding: 0 .5em;
    color: #79527f;
    cursor: pointer;
  }
  /* Arrow */
  .create-ebook-form select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 8em 1em;
    background: #79527f;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
  }
  /* Transition */
  .create-ebook-form select:hover::after {
    color: #79527f;
  }
  
