  .reviewCenter{
    position: absolute;
    transform: translate(-50%, -50%);
  }


/* - - - - - RATINGS */
.rating {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  background: #FFF;
  overflow: hidden;
}
.rating:not(:checked) > input {
  display: none;
}


/* - - - - - LIKE */
#like {
  bottom: -65px;
}
#like:not(:checked) > label {
  cursor:pointer;
  float: right;
  width: 30px;
  height: 30px;
  display: block;
  
  color: rgba(233, 54, 40, .4);
  line-height: 33px;
  text-align: center;
}
#like:not(:checked) > label:hover,
#like:not(:checked) > label:hover ~ label {
  color: rgba(233, 54, 40, .6);
}
#like > input:checked + label:hover,
#like > input:checked + label:hover ~ label,
#like > input:checked ~ label:hover,
#like > input:checked ~ label:hover ~ label,
#like > label:hover ~ input:checked ~ label {
  color: rgba(233, 54, 40, .8);
}
#like > input:checked ~ label {
  color: rgb(233, 54, 40);
}

.review-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.review-section textarea{
  text-align: center;
}

.review-section button{
  color: black;
  font-size: 1em;
  background-color: transparent;
  border: 2px black solid;
  padding: 0.4em 1em;
  margin-top: 0.5em;
}


.review-section button:hover{
  box-shadow: 2px 2px;;
}