


@media only screen and (max-width: 600px) {
    .details-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        font-size: 0.8em;
        font-family:'Roboto',sans-serif;
        margin: 1em 4em;
    }

    .details-main img {
        height: 50vh;

    }

    .details-main a{
        text-decoration: none;
        margin-top: 1em;
        color: black;
        border: 2px solid black;
        padding: 0.5em;
    }

    .details-main a:hover{
        box-shadow: 2px 2px;;
    }

/*     .details-reviews {
        display: flex;
        flex-direction: row;

    }

    .details-reviews h6{
        font-size: 10em;

    } */

    /* new reviews */

}
