.navigation{
  width: 100%;
  height: 60px;
  background-color: #820C02;


}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin: 20px 0;
  padding: 0 25px;
}

.navigation ul li{
  list-style-type: none;
  padding-right: 10px;
}

.authLink {
  text-decoration: none;
  color: #ffb17a;
  text-align: center;

}

.authLink:hover {
  color: #fff0e6;
  cursor: pointer;


}

.nav__projectName:hover {
  color: #fff0e6;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='18' height='22' viewport='0 0 100 100' style='fill:black;font-size:11px;'><text y='50%'>❤️</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

.nav__projectName {
  text-decoration: none;
  color: #ffb17a;
  font-size: 30px;
  margin-top: 20px;
}

.nav-logoutbtn {
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.1em 0.1em 0;
  border:0.16em solid rgba(255,255,255,0);
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  text-align:center;
  transition: all 0.2s;
  background-color: #ffb17a;
}

a.button4:hover{
  border-color: rgba(255,255,255,1);
}

/* @media all and (max-width:30em){
 a.button4{
  display:block;
  margin:0.2em auto;
 }
} */

.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 10;
  display: none;
}

@media (max-width: 767px) {
  .hamburger{
    display: fixed;
    padding-top: 10px;
    margin-left: 10px;
    z-index: 10;
  }
}

.burger{
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: black;
  transform-origin: 1px;
  transition: all 0.3s linear;
}
/* nav {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #282c34;
  font-weight: 600;
}

.nav__projectName {
  color: #e4f9ff;
  text-decoration: none;
}

.authLink {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.authLink + .authLink {
  padding: 1em;
}

.authLink:hover {
  color: #ffffff;
}

.nav-logoutbtn {
  font-family: inherit;
  font-weight: inherit;
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #5595ff;
  box-shadow: 0 0 5px 0 aliceblue;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: #d13e3e;
}
 */